  <%= link_to "Past Week", statistics_weekly_path ,:method => :get%>
  <%= link_to "Past Month", statistics_monthly_path ,:method => :get%>
  <%= link_to "Past Year", statistics_yearly_path ,:method => :get%>
  <%= link_to "Total", statistics_listing_path ,:method => :get%>

<h2>Overall Statistics</h2>
  <% total = 0.0 %>
  <% @revenue = Order.all %>
  <% @revenue.each do |curr_rev| %>
    <% total = total + curr_rev.total.to_f %>
  <% end %>
<strong>Total Revenue:</strong>
<%= total %>


<h2>Complete Transaction History</h2>

<table style="width:100%">
  <thead>
    <tr>
      <th>Time</th>
      <th>Description</th>
      <th>Total</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @stats = Order.all  %>
    <% @stats.each do |curr_stat| %>
      <tr>
        <td><%= curr_stat.time %></td>
        <td><%= curr_stat.description %></td>
	<td><%= number_to_currency(curr_stat.total) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
