<%= link_to "Past Week", statistics_weekly_path ,:method => :get%>
  <%= link_to "Past Month", statistics_monthly_path ,:method => :get%>
  <%= link_to "Past Year", statistics_yearly_path ,:method => :get%>
  <%= link_to "Total", statistics_listing_path ,:method => :get%>

<h2>This Week's Statistics</h2>
  <% total = 0.0 %>
  <% @revenue = Order.where("created_at > ?", 7.days.ago) %>
  <% @revenue.each do |curr_rev| %>
    <% total = total + curr_rev.total.to_f %>
  <% end %>
<strong>This Week's Revenue:</strong>
<%= number_to_currency (total) %>


<h2>Transaction History for this Week</h2>

<table style="width:100%">
  <thead>
    <tr>
      <th>Time</th>
      <th>Description</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%@stats = Order.where("created_at > ?", 7.days.ago) %>
    <% @stats.each do |curr_stat| %>
      <tr>
        <td><%= curr_stat.time %></td>
        <td><%= curr_stat.description %></td>
	<td><%= number_to_currency (curr_stat.total) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
