<h1>Staff</h1>

<table style="width:100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @staffs = Staff.all %>
    <% @staffs.each do |curr_staff| %>
      <tr>
        <td><%= curr_staff.name %></td>
        <td><%= curr_staff.email %></td>
        <% @staff = Staff.find(curr_staff.id)%>
        <td><%= link_to 'Edit', edit_staff_member_path(@staff) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
