<% if user_signed_in? %>
<h1> Welcome to H&S Storefront </h1>
<h3> This will be the User Page </h3>

<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>

<% else %>

<h1> Welcome to H&S Storefront </h1>
<%= link_to "Sign In", new_user_session_path, :method => :get %>
<%= link_to "Sign Up", new_user_registration_path, :method => :get %>

<%end%>
