<%= form_for (@order)  do |f| %> 
 <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_status_id %>
    <%= f.text_field :order_status_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

