<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Total</th>
      <th>Time</th>
      <th>Status</th>
      <th>Product</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <%if user_signed_in? %>
    	<% @orders = Order.find_by_user_id(2) %>
    <%if staff_signed_in? %>
        <% @orders = Order.find_by_user_id(2)  %>
    <%end%>
    <% @orders.each do |curr_order| %>
      <tr>
        <td><%= User.find(curr_order.user_id).name %></td>
        <td><%= curr_order.total %></td>
        <td><%= curr_order.created_at %></td>
        <td><%= OrderStatus.find( curr_order.order_status_id).name %></td>
        <% prod_id = (OrderProduct.find_by( curr_order.id)).product_id%>
	<td><%= Product.find(prod_id)%></td>
        <% @order = Order.find(curr_order.id)%>
        <td><%=  %></td>
        <td><%= %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>

