<h1>Customer Orders</h1>


<table style="width:100%">
  <thead>
    <tr>
      <th>User ID</th>
      <th>Time</th>
      <th>Description</th>
      <th>Total</th>
      <th>Order_Status</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <%if user_signed_in? %>
        <% @orders = Order.where(:user_id => current_user.id) %>
    <%elsif staff_signed_in? %>
        <% @orders = Order.all  %>
    <%end%>
    <% @orders.each do |curr_order| %>
      <tr>
        <td><%= curr_order.user_id %></td>
        <td><%= curr_order.time %></td>
        <td><%= curr_order.description %></td>
	<td><%= number_to_currency(curr_order.total) %></td>
	<td><%= if curr_order.order_status_id == 1 then
		    shipped = "Pending"
		elsif curr_order.order_status_id == 2 then
		    shipped = "Shipped" 
		end %></td>
	
	<% @order = Order.find(curr_order.id)%>
        <% if staff_signed_in? %>
        <td><%= link_to 'Ship', orders_ship_path(:id => @order.id), data:{confirm: 'Are you sure?'}%></td>
	<%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

