<%= form_for (@product)  do |f| %> 
 <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price, class: :text_field, step: :any %>
  </div>

  <div class="field">
    <%= f.label :seller %>
    <%= f.text_field :seller %>
  </div>

  <div class="field">
    <%= f.label :category %>
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :stock %>
    <%= f.number_field :stock %>
  </div>
  <%if current_staff.manager? %>
  <div class="field">
    <%= f.label :discount %>
    <%= f.number_field :discount %>
  </div>
  <div class="action">
    <%=f.submit%>
  </div>
  <%else%>
  <div class="field">
    <%= f.label :discount %>
   <%if @product.try(:discount).nil? %>
    <%= f.number_field :discount, :value => 0, :readonly => true%>
   <%else%>
    <%= f.number_field :discount, :value => @product.discount, :readonly => true%>
   <%end%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <%end%>
<% end %>

