<div class="well">
 
  <div class="row">
    <div class="col-xs-8">
      <h4>Product Name: <%= product.name %></small></h4>
      <h4>Category: <%=  product.category %></small></h4>
      <%if product.category == 'Book'%> 
	<h4> Author: <%=product.seller%></small> </h4>
      <%else%>
	<h4> Developer: <%= product.seller%></small></h4>
      <%end%>
    </div>
    <div class="col-xs-4">
      
      <%= form_for order_product, remote: true do |f| %>
        <% if product.discount != 0 %>
	    <h4 class="text-right">Regular Price: <span style="color: red"><%= number_to_currency (product.price) %></span></h4>
	    <h4 class="text-right">Discount: <span style="color: blue"><%= number_to_percentage(product.discount, precision: 0) %></span></h4>
            <h4 class="text-right">Sale Price: <span style="color: green"><%= number_to_currency (product.price - ((product.discount / 100.0 )* product.price)) %></span></h4>
        <%else%>
	    <h4 class="text-right">Price: <span style="color: green"><%= number_to_currency (product.price) %></span></h4>
	<%end%>
	<div class="input-group">
          <%= if !staff_signed_in? then f.number_field :quantity, value: 1, class: "form-control", min: 1 end %>
          <div class="input-group-btn">
            <%= f.hidden_field :product_id, value: product.id %>
            <%= if user_signed_in? then f.submit "Add to Cart", class: "btn btn-primary" end%>
          </div>
        </div>
      <% end %>
    </div>
    
  </div>
</div>
