<h3 class="text-center">Products for Sale</h3>
 
<%= form_tag products_path, :method => "get" do %>
<p>
	<%= text_field_tag :search, params[:search], placeholder: "Search Products" %>
	<%= submit_tag "Search", :name => nil %>
    
</p>
<% end %>
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <% @products.each do |product| %>
      <%= render "product_row", product: product, order_product: @order_product %>
    <% end %>
  </div>
</div>
