<h1>Products</h1>

<table style="width:100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Price</th>
      <th>Seller</th>
      <th>Stock</th>
      <th>Discount</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @products = Product.all %>
    <% @products.each do |curr_product| %>
      <tr>
        <td><%= curr_product.name %></td>
        <td><%= curr_product.category %></td>
        <td><%= curr_product.price %></td>
	<td><%= curr_product.seller %></td>
	<td><%= curr_product.stock %></td>
	<td><%= curr_product.discount%></td>
	<% @product = Product.find(curr_product.id)%>
        <td><%= link_to 'Edit', edit_product_path(@product) %></td>
        <td><%= link_to 'Delete', product_path(curr_product), method: :delete, data:{confirm: 'Are you sure?'}%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
