<!DOCTYPE html>
<html>
<head>
  <title>H&S Storefront</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <% if request.ssl? %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <% else %> 
    <%= stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <% end %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <h1><%= link_to "H&S Storefront", root_path %></h1>
      </div>
      <div class="col-xs-6">
	<h3>Test Manager: username = "test@example.com" password = "wildcats"</h3>
        <%if !user_signed_in? && !staff_signed_in? %>
	  <%= link_to "Sign In", new_user_session_path, :method => :get %>
	  <%= link_to "Sign Up", new_user_registration_path, :method => :get %>
	  <%= link_to "Staff Registration", new_staff_registration_path, :method => :get %>
	<%elsif !staff_signed_in? && user_signed_in? %>
          <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
	<%end%>
	<%if !staff_signed_in? && !user_signed_in? %>
          <%= link_to "Staff Sign In", new_staff_session_path, :method => :get %>
        <%elsif staff_signed_in? && !user_signed_in?%>
          <%= link_to "Sign Out", destroy_staff_session_path, :method => :delete %>
	<%end %>
      <%if user_signed_in? || staff_signed_in?%>
      	<%= link_to "Orders", orders_show_path ,:method => :get%>
      <%end%> 
      <%if staff_signed_in? %>
      <%= link_to "Inventory", products_listing_path, :method => :get %>
      <% if current_staff.manager? %>
        <%= link_to "Staff", staff_members_listing_path, :method => :get %>
      <% end %>
      <% if current_staff.manager? %>
        <%= link_to "Transaction History", statistics_listing_path, :method => :get %>
      <% end %>
    <%end %>
      </div>
      <div class="col-xs-6 text-right">
        <h1 class="cart-text"><%= if !staff_signed_in? then render 'layouts/cart_text' end %></h1>
      </div>
    </div>
    <hr>
    <%= yield %>
  </div>
  <div> 
  <div class="col-xs-6">
  </div>
</body>
</html>
